h1 {
    color: blue; 
    }
    p{
        color:pink;
    }
   img {
        width:100px;
        width: 100%;
    }
    p{ 
        color:lightgreen;
    }
    h2{
        color:blue;
    }
    body {
        background-color:grey;
    }
    p {
        color:lightgreen;
    }
    
        
    